# NOTE: "cl"で全く同じ既存スニペットがある。が、忘れそうなので色々な名前で作成しておく。
snippet consolelog b
console.log(${0:value});
endsnippet

snippet log b
console.log(${0:value});
endsnippet

snippet dir b
console.dir(${0:value}, { depth: null });
endsnippet

snippet consoledir b
console.dir(${0:value}, { depth: null });
endsnippet
