snippet public b
////////////////////////////////////////////////////////////////////////////
// ${1:public}${0}
////////////////////////////////////////////////////////////////////////////
endsnippet

snippet private b
////////////////////////////////////////////////////////////////////////////
// ${1:private}${0}
////////////////////////////////////////////////////////////////////////////
endsnippet
