snippet tilde "tilde accent" i
\\tilde{$1}
endsnippet

snippet nonum "nonumber" i
\\nonumber
endsnippet

snippet noindent "noindent" i
\\noindent
endsnippet

snippet partial "partial" i
\\partial{$1}
endsnippet

snippet overset "overset" i
\\overset{$1}
endsnippet


snippet eqref "eqref" i
\\eqref{$1}
endsnippet

snippet mathbf "mathbf" i
\\mathbf{$1}
endsnippet
